
.hero{
    min-height: 100vh;
    display: flex;
    width: 100%;
    padding: 0;
    margin-top: 0;
    position: relative;
    top:0;
      background:
    linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url('image/agency-demo.jpg') center / cover no-repeat; 
}

.hero-content{
    margin-left: 50px;
   top: 125px;
    position: relative;
    z-index: 10;
}

.hero-title{
    font-family: 'Poppins';
    font-size: 78px;
    font-weight: bolder;
    color: white;
    position: relative;
    margin-bottom: 25px;
    letter-spacing: 1;
    word-spacing: 20px;
}

.hero-subtitle{
    line-height: 1.5;
    font-family: 'Inter';
    margin-top: 0;
    max-width: 60%;
    font-size: 30px;
    color: #dddddd;
    position: relative;
}



@media (max-width:1100px) {
    
  .hero-content{
    top: 10px;
    margin-left: 25px;
  }

  .hero-title{
    font-size: clamp(54px,11vw,75px);
  }

   .hero-subtitle{
    width: 85%;
    max-width: 700px;
    font-size: clamp(18px, 4vw , 25px);
  }

}




.btn-group {
  display: flex;
  gap: 14px;
  justify-content: left;
  flex-wrap: wrap;
}

.btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 50px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Primary button */

.btn-primary {
  background: linear-gradient(135deg, lch(57.61% 66.11 279.78), hwb(192 28% 1%));
  color: lab(100% 0.01 -0.01);
  box-shadow: 0 6px 18px #3ac3ed66;
}

.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 24px #1089b973;
}

/* Outline: button */
.btn-outline {
  background: transparent;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.7);
}
.btn-outline:hover {
  background: #fff;
  color: hsl(24, 100%, 50%);
}

/* WhatsApp button*/
.btn-whatsapp {
  background: #25d366;
  color: #fff;
}
.btn-whatsapp:hover {
  background: #1ebe5b;
  transform: translateY(-3px);
}


@media all and (min-width:10px) and (max-width:550px){
   body .btn-group {
    display: flex;
    flex-direction: column;
    max-width: 70%;
  }

 body .btn{
    text-align: center;
  }
}

@media all and (min-width:551px) and (max-width:850px){
   body .btn-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

 body .btn{
    text-align: center;
  }
}




/* Button Responsiveness for Other devices
@media (max-width: 600px) {
  .btn-group { flex-direction: column; align-items: center; }
  .btn { width: 100%; max-width: 280px; text-align: center; }
} */