.service{
    margin-top: 100px;
    padding-bottom: 30px;
    margin-left: 60px;
     margin-right: 60px;
     margin-bottom: 50px;
}

.service-grid{
       display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 60px;
}

.service-card{
    text-align: left;
    border-radius: 25px;
    background-color: #f7f5ff;
    padding: 15px 25px;
    border: 1px solid #b9b9b9;
    transition: 900ms;
}

.service-card:hover{
    box-shadow: 0 10px 10px #b9e5ff;
    transform: translateY(-5px);
    color: white;
   background: #54ccff;
   background: linear-gradient(180deg,rgba(84, 204, 255, 1) 0%, rgba(0, 145, 255, 1) 100%);
}
.service-card .amount:hover{
    color: white;
}
.service-card h4{
    font-size: 25px;
}

.service-card #subtittle{
    color: #494949;
    font-weight: bolder;
    font-size: 20px;
}

.service-card #text{
    color: hwb(210 18% 81%);
    font-size: 16px;
    font-weight: 500;
}

.service-card .amount{
    font-size: 21px;
    font-weight: 700;
}

@media all and (min-width:10px) and (max-width:520px){
    .service{
    margin-left: 30px;
     margin-right: 30px; 
}
    .service-grid{

       display: grid;
     grid-template-columns: 1fr ;
     gap: 60px;
}
}
@media all and (min-width:521px) and (max-width:750px){
        .service{
    margin-left: 40px;
     margin-right: 40px; 
}
    .service-grid{
       display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 30px;
}
}
@media all and (min-width:751px) and (max-width:1050px){
        .service{
    margin-left: 60px;
     margin-right: 60px; 
}
    .service-grid{
       display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 90px;
}
}